
sudo apt install curl
curl -sL https://deb.nodesource.com/setup_8.x | sudo bash -
sudo apt-get install -y nodejs

Install gcc:
sudo apt-get install gcc g++ make

Install git:
sudo apt install git

npm install



Clone the github repo to your local machine. Execute this command from your desired base directory:

git clone https://github.com/tilemill-project/tilemill.git
Install the necessary Node modules and dependencies:

cd tilemill
npm install
Then start TileMill and open client in browser, from the command line, by typing:

./tilemill.sh
This will start the core and tile servers, check that they are running, then open TileMill in your default browser.

Alternatively, you can start TileMill servers using either command, in the tilemill directory:

npm start
./index.js
Once the TileMill core and tile servers are running, open your browser and go to:

127.0.0.1:2009
For more details on running from the command line see the Ubuntu Service for details.